@import './variable.scss';
@import './reset.scss';
@import './sidebar.scss';
@import './listbar.scss';
@import './container.scss';
@import './firent.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

body {
  background: transparent url(http://b-ssl.duitang.com/uploads/item/201502/08/20150208174429_wnhM5.jpeg) center / 100% 100% no-repeat;
}

.list-container,
.side-bar {
  height: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: $theme; color: #fff; text-align: center; height: 36px; line-height: 36px;
  border: 0; width: 120px; border-radius: $radius; outline: none; display: block; margin: 0 auto;
  &:active { background-color: darken($theme, 10); }

  &.default {
    background-color: transparent; border: 1px solid #ccc; color: $text; width: 90%; margin: 0 auto;
    &:active { background-color: #ccc; }
  }
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
